{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Edificio</h1>
    <p><a class="btn btn-primary" href="{{ path('edificio_new') }}">
        <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span> Agregar
        </a></p>
    <table class="table table-bordered" >
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Acción</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>               
                <td><a href="{{ path('edificio_show', { 'id': entity.id }) }}">{{ entity.nombre }}</a></td>
                <td>
                   <a href="{{ path('edificio_edit', { 'id': entity.id }) }}"><span class="glyphicon glyphicon-pencil"></span> EDITAR</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% endblock %}
