{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Edificio - Creación</h1>

    {{ form(form) }}

        
    
        <a class="btn btn-primary" href="{{ path('edificio') }}"><span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span>
            Volver a la lista
        </a>
    

{% endblock %}
