{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Carrera</h1>
    <p><a class="btn btn-primary" href="{{ path('carrera_new') }}">
        <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span> AGREGAR
        </a></p>  
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('carrera_show', { 'id': entity.id }) }}">{{ entity.nombre }}</a></td>
                <td><a href="{{ path('carrera_edit', { 'id': entity.id }) }}"><span class="glyphicon glyphicon-pencil"></span> EDITAR</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {% endblock %}
