<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />

        <title>{% block title %}Principal{% endblock %}</title>
        
        <link rel="stylesheet" tyep="text/html" href="{{ asset('bundles/untdfreservasaulas/css/bootstrap.min.css')}}" />
               
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        
        {% block navbar %}
        {% include '::navbar.html.twig' %}
        {% endblock %}
        
        <div class="container theme-showcase" role="main">
        
            {% block body %} {% endblock %}
        
        </div>
        {% block javascripts %}{% endblock %}
       
        <script src="{{ asset('bundles/untdfreservasaulas/js/jquery-2.1.4.min.js')}}"></script>
        <script src="{{ asset('bundles/untdfreservasaulas/js/bootstrap.min.js')}}"></script>
        
    </body>
</html>
