{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Recursos</h1>
    <p><a class="btn btn-primary" href="{{ path('recurso_new') }}"><span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span> AGREGAR</a>
    <table class="table table-bordered">
        <thead>
            <tr>
               
                <th>Nombre</th>
                <th>Acción</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>                
                <td>{{ entity.nombre }}</td>
                <td>                
                    
                        <a href="{{ path('recurso_edit', { 'id': entity.id }) }}"><span class="glyphicon glyphicon-pencil"></span> Editar</a>
                    
                
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        
    {% endblock %}
