{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Usuarios</h1>
    <p><a class="btn btn-primary" href="{{path('fos_user_registration_register')}}"><span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span> AGREGAR</a>
    </p>

    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Usuario</th>
                <th>E-mail</th>
                <th>Acci&oacute;n</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                
                <td>{{ entity.username }}</td>
                <td>{{ entity.email }}</td>
                <td><a href="{{ path('admin_user_show', { 'id': entity.id }) }}"><span class="glyphicon glyphicon-eye-open"></span> Ver</a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        
    {% endblock %}
