{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Usuario</h1>
    <h3>Nombre <small>{{ entity.username }}</small></h3>
    <h3>Email <small>{{ entity.email }}</small></h3>
    

     <fieldset class="buttons">
        <a class="btn btn-primary" href="{{ path('admin_user') }}"><span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span> Lista</a>
    
        
     </fieldset>
        {{ form(delete_form) }}
</ul>
{% endblock %}
