{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Nuevo Curso</h1>

    {{ form(form) }}

    <a class="btn btn-primary" href="{{ path('curso') }}"><span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span>
            Volver a la lista
        </a>
{% endblock %}
